<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Statics/Diseño.css">
    <link rel="stylesheet" href="./Dynamics/Js/tiendita.js">
</head>
<body>
    <h1 class="nomTienda">Pedidos Papeleria JDF</h1>
    
    <hr>
    <section id="productos">
        <div class="recuadrosProd">
            <img src="lapiz.jpg" alt="lapices" class="img">
            Paquete de 6 lapices
            <br>
            $30
            <br>
            <button id="lapiz">agregar al carrito</button>
        </div>
        <div class="recuadrosProd">
            <img src="goma.jpg" alt="gomas" class="img">
            Gomita caguai
            <br>
            $38
            <br>
            <button id="goma">agregar al carrito</button>
        </div>
        <div class="recuadrosProd">
            <img src="sacapuntas.jpg" alt="sacapuntas" class="img">
            Sacapuntas con bandeja 
            <br>
            $80
            <br>
            <button id="sacapuntas">agregar al carrito</button>
        </div>
    </section>
    <section id="lista">
        <div class="carrito">
        
        <br>
        <button id="qlapiz">Carrito de compras</button>
        </div>
        <div class="carrito">
        
        <br>
        <button id="qgoma">eliminar</button>
        </div>
        <div class="carrito">
        
        <br>
        <button id="qsacapuntas">eliminar</button>
        </div>
    </section>
    <script src="./Dynamics/Js/tiendita.js"></script>
</body>
</html>